@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';
@import '../../../css/util.scss';

#app div.component.contact {
	color: white;
	margin-top: 50px;
	width: $innerContentMaxWidth;

	.methods-wrapper {
		display: inline-block;
		width: 100%;
	}

	.header {
		$headerPadding: 25px;

		position: relative;
		width: calc(33.333333333% - 10px);
		height: $headerBoxSize;
		background-color: white;
		padding: $headerPadding;
		border: 1px solid black;
		color: black;
		float: left;

		.divider {
			width: 100%;
			height: 2px;
			margin-top: 6px;
			background-color: white;
		}
	}

	.methods {
		float: left;
		min-width: 200px;
		// margin-top: 203px;
		width: 66.66666666666%;
		z-index: 2;
		position: relative;
		display: table;
		vertical-align: bottom;

		> div {
			display: table-cell;
			vertical-align: bottom;
		}

		.method {
			width: 50%;
			padding: 0 7.5px 0 7.5px;
			height: 100px;
			cursor: pointer;
			float: left;
		}

		.method:nth-child(2n-1) {
			padding-left: 14px;
		}

		.method.address {
			margin-top: 9px;
			height: initial;

			padding: 0 19px 0 3px;

			.edgy, .method-wrapper {
				position: relative;
			}

			.edgy:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -3px;
				overflow: visible;
				width: 100%;
				height: 88px;
				background-color: #48bb85;
				z-index: -1;
				transform: skewY(-16deg);
				-webkit-backface-visibility: hidden;
				backface-visibility: initial;
			}

			.edgy-inner {
				padding: 20px;
				margin-left: auto;
				margin-right: auto;
			}

			.method-wrapper {
				z-index: 2;
				padding-bottom: 4px;
			}
		}

		.method.phone {
			padding-right: 0;
		}

		.method-wrapper {
			width:100%;
			height: 100%;
			padding: 21px;
		}

		.method .title {
			margin-bottom: 6px;
		}
	}

	.methods-bottom {
		float: right;
	}

	.map {
		position: relative;
		z-index: 1;
	}

	.map img {
		width: 250%;
		margin-top: 20px;
		margin-left: -75%;
		position: relative;
		bottom: -6px;
	}

	.map .background {z-index: 1;}
	.map .pin {
		z-index: 2;
		width: 5%;
		left: 50%;
		bottom: 25%;
		position: absolute;
		padding: 0;
		margin: 0 0 0 -2.5%;
	}
	.map .pin.animate {
		animation: bounce 2s 3;
	}

	@media(max-width: $tablet) {
		padding: 0 14px;

		.header {
			width: 33.33333333333%;
		}

		.methods {
			width: 66.666666666666%;
			// margin-top: 148px;

			div.method.address {
				padding-left: 14px;
				padding-right: 8px;
			}
		}

		.pin {

		}
	}

	@media(max-width:$iphone6) {
		font-size: 0.95em;

		.header {
			width: 50%;
			height: 160px;
			padding: 15px;
		}

		div.methods {
			width: 50%;
			min-width: initial;
			// margin-top: 42px !important;
		}

		.methods .method {
			width: 100%;
			padding-left: 14px;
			padding-right: 0;
			height: 60px;

			.title {
				margin-bottom: 4px;
			}

			.method-wrapper {
				padding: 15px !important;
			}

			.method-wrapper p {
				font-size: 0.5em !important;
			}
		}

		.method.email {
			margin: 0 0 6px 0;
		}

		.methods .method.address, .methods .method.phone {
			margin-top: 6px;
		}

		.methods .method.address {
			padding-right: 0 !important;

			.edgy:before {
				bottom: 17px;
				height: 75px;
			}
		}

		.map {
			width: 170%;
			left: -31%;
		}
	}

	@media(max-width: $iphone6-landscape) {
		.methods {
			// margin-top: 113px;
		}
	}

	@media(max-width: $iphone5) {
		font-size: 0.8em;

		div.methods .method {
			margin-top: 8px;
			padding-left: 0px !important;
			width: calc(100% - 12px);
			float: right;
		}

		.map .pin {
			bottom: 21%;
		}
	}

	@media(max-width: $iphone5-landscape) {
		div.methods {
			// margin-top: 80px;

			.method.email p {
				font-size: 0.4em;
			}
		}
	}
}

@keyframes bounce {
	0%, 10%, 30%, 50%, 100% {transform: translateY(0);}
    20% {transform: translateY(-30px);}
    45% {transform: translateY(-15px);}
}