@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.contact {
	color: white;
	margin-top: 50px;
	width: $innerContentMaxWidth;

	.header {
		$headerPadding: 25px;

		position: relative;
		width: 33.333333333%;
		height: $headerBoxSize;
		background-color: black;
		padding: $headerPadding;
		float: left;

		.divider {
			width: 100%;
			height: 2px;
			margin-top: 6px;
			background-color: white;
		}

		.arrow {
			position: absolute;
			bottom: $headerPadding;
			right: $headerPadding;
			width: 25px;
		}
	}

	.methods {
		float: left;
		min-width: 200px;
		margin-top: 213px;
		width: 66.66666666666%;
		z-index: 2;
		position: relative;

		.method {
			width: 50%;
			padding: 0 7.5px 0 7.5px;
			height: 100px;
			cursor: pointer;
			float: left;
		}

		.method:nth-child(2n-1) {
			padding-left: 14px;
		}

		.method.address {
			margin-top: 14px;
			height: initial;

			.edgy {
				margin-top: -1px;
			}

			.method-wrapper {
				padding-bottom: 4px;
			}
		}

		.method-wrapper {
			width:100%;
			height: 100%;
			padding: 25px;
		}

		.method .title {
			margin-bottom: 6px;
		}
	}

	.map {
		position: relative;
		z-index: 1;
	}

	.map img {
		width: 250%;
		margin-top: 20px;
		margin-left: -78%;
	}

	.map .background {z-index: 1;}
	.map .pin {
		z-index: 2;
		position: absolute;
		bottom: 0;
		margin-bottom: 5px;
	}
	.map .pin.animate {
		animation: bounce 2s 3;
	}

	@media(max-width:$iphone6) {
		padding: 0 14px;
		font-size: 0.9em;

		.header {
			width: 50%;
			height: 160px;
			padding: 15px;

			.arrow {
				width: 15px;
				bottom: 15px;
				right: 15px;
			}
		}

		.methods {
			width: 50%;
			min-width: initial;
			margin-top: 44px;
		}

		.methods .method {
			width: 100%;
			padding-left: 14px;
			padding-right: 0;
			margin: 0 0 6px 0;
			height: 60px;

			.title {
				margin-bottom: 4px;
			}

			.method-wrapper {
				padding: 15px !important;
			}

			.method-wrapper p {
				font-size: 0.5em;
			}
		}

		.methods .method.address, .methods .method.phone {
			margin-top: 6px;
		}

		.map {
			width: 170%;
			left: -31%;
		}
	}

	@media(max-width: $iphone5) {
		font-size: 0.8em;
		
		.methods {
			margin-top: 14px;
		}
	}
}

@keyframes bounce {
	0%, 10%, 30%, 50%, 100% {transform: translateY(0);}
    20% {transform: translateY(-30px);}
    45% {transform: translateY(-15px);}
}