@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.culture {
	width: $innerContentMaxWidth;
	margin-top: 30px;

	.columns {
		display: inline-block;
	}

	.column1, .column2 {
		width: 50%;
		float: left;
		position: relative;
	}

	.item img {
		backface-visibility: hidden;
		z-index: 1;
	}

	.item:hover .caption {
		opacity: 1;
	}

	.caption {
		transition: opacity 0.6s ease-in;
		opacity: 0;
		text-align: center;
	}

	.art1 {
		padding: 0 20px;
		.caption {
			position: relative;
			z-index: 2;
			margin-top: -35px;
			padding-left: 10px;
		}
		img {
			position: relative;
		}
	}

	.cacti {
		width: 25%;
		display: inline-block;
		margin: 90px 100px 20px 0;
		float: right;

		> div {
			width: 26%;
			float: right;
			margin-right: 25%;
		}
	}

	.calories {
		margin-top: 40px;
		display: inline-block;
	}
	.calories a > div {
		width: 64%;
		float: right;
		margin: 0 40px 60px 0;
	}

	.pride-card {

	}

	.coin2 {
		> div {
			position: relative;
			width: 53%;
			margin: 20px 0 0 20px;
		}

		img:first-child {
			position: absolute;
			z-index: 2;
		}

		img {
			z-index: 1;
		}
	}

	.pillowfight {
		width: 100%;
		position: relative;
		display: inline-block;
		margin-bottom: 78px;
		> * {
			width: 64%;
			float: right;
		}
	}

	.art2 {
		display: inline-block;
		width: 100%;

		> div {
			float: right;
		}

		.caption {
			z-index: 2;
			margin-top: -35px;
			position: relative;
			padding-left: 10px;
		}

		img {
			position: relative;
		}
	}

	.carousel-outer {
		width: 299px;
		margin: 0 auto;
		margin-top: 70px;
	}

	.squarefaces {
		margin-top: 2%;
	}

	.coin-icon-group {
		width: 100%;
		height: 254px;
		margin-bottom: 20px;

		.coin1, .ec-logo {
			width: 50%;
			display: inline-block;
		}

		.coin1 {
			height: 100%;
			float: right;
		}

		.coin1 > div {
			margin: 20px 70px 0 0;
			width: 50%;
			float: right;
			position: relative;
		}

		.coin1 img:first-child {
			position: absolute;
			z-index: 2;
		}

		.coin1 img:last-child {
			z-index: 1;
		}

		.ec-logo {
			margin: 150px 0 0 30px;
		}

		.ec-logo > div {
			width: 60%;
			float: left;
			bottom: 0;
			padding-left: 20px;
		}
	}

	.coin3 {
		display: inline-block;

		> div {
			width: 58%;
			float: right;
			position: relative;
		}

		img:first-child {
			position: absolute;
			z-index: 2;
		}

		img {
			z-index: 1;
		}
	}

	.bird {
		width: 50%;
		margin-left: 74px;
	}

	.rl-sign {
		position: relative;
		width: 100%;
		margin-top: 10px;
		cursor: pointer;

		.sign {
			z-index: 1;
		}

		img {
			// width: 110%;
			// margin-left: -5%;
		}

		$size: 5;
		.play {
			position: absolute;
			transition: opacity 0.3s ease-in;
			left: 0;
			top: 0;
			width: 12px * $size;
		    height: 16px * $size;
		    border-top: (8px * $size) solid transparent;
		    border-left: (12px * $size) solid white;
		    border-bottom: (8px * $size) solid transparent;
		    @include center();
		    z-index: 2;
		    opacity: 0;
		    pointer-events: none;
		}

		.video-outer {
			position: absolute;
			width: 100%;
			background-color: black;
			opacity: 0;
		}

		.video-wrapper {
			padding: 0 10%;
			height: 100%;
		}

		.video-container {
			position:relative;
			padding-bottom:54%;
			// padding-top:30px;
			height:0;
			overflow:hidden;
			// @include vertical-center();
			z-index: 2;
		}

		.video-container iframe, .video-container object, .video-container embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}

	.rl-sign:hover .play {
		opacity: 1;
	}

	.columns.bottom {
		padding: 0 40px;
		margin-top: 30px;
	}

	@media(max-width: $tablet-landscape) {
		.play {
			opacity: 1 !important;
		}
	}

	@media(max-width: $tablet) {

		.coin-icon-group {
			margin-bottom: 0;
			margin-top: 60px;
			height: 200px;

			.ec-logo {
				margin-top: 100px;
			}
		}

		.squarefaces {
			margin-top: 80px;

			.caption {
				margin-top: 0px;
			}

			img {
				padding-left: 14px;
			}
		}

		.art1 .caption, .art2 .caption {
			margin-top: -20px;
		}

		.cacti {
			float: left;
			margin: 60px 0px 30px 50px;
		}

		.pillowfight img {
			margin-right: 14px;
		}
	}

	@media(max-width: $iphone6-landscape) {
		.pillowfight {
			margin-top: 50px;
		}

		.cacti {
			margin-top: 0;
		}

		.carousel-outer {
			width: 250px;
		}

		.carousel .title {
			font-size: 0.7em;
		}

		.squarefaces {
			padding-right: 10px;
		}

		.coin-icon-group .ec-logo {
			margin-top: -80px;
		}
	}

	@media(max-width: $iphone5-landscape) {
		.carousel-outer {
			width: 210px;
		}
	}

	@media(max-width: $iphone5) {
		.chalkboard .background {
			height: 219px;
		}
	}

	@media(max-width: $iphone6) {
		margin-top: 15px;

		.column1, .column2 {
			width: 100%;
			float: initial;
		}

		.art1 {
			width: 70%;
			padding: 0 0 0 40px;

			.caption {
				margin-top: -20px;
			}
		}

		.cacti {
			margin-top: 0;
		}

		.cacti > div {
			width: 20%;
			margin-right: 40%;
		}

		.pillowfight {
			float: right;
			margin-right: 14px;
			margin-top: 40px;
			margin-bottom: 28px;
			width: 70%;

			> div {
				width: 46%;
			}
		}

		.art2 {
			float: none;
			padding: 0 50px;

			.caption {
				margin-top: -20px;
			}
		}

		.carousel .title {
			font-size: 0.7em;
		}

		.coin-icon-group {
			margin-top: -10px;
			height: 178px;

			.coin1 > div {
				width: 45%;
				margin-right: 45px;
			}

			.ec-logo {
				float: left;
				margin: -100px 0 0 80px;
			}

			.ec-logo > div {
				width: 52%;
				margin: 0 0 20px -15px
			}
		}

		.squarefaces {
			margin-top: 10%;

			> div {
				width: 65%;
				@include horizontal-center(1);
			}

			.caption {
				margin-top: 0px;
			}
		}

		.rl-sign {
			margin-top: 20px;

			$size: 3;
			.play {
				width: 12px * $size;
			    height: 16px * $size;
			    border-top: (8px * $size) solid transparent;
			    border-left: (12px * $size) solid white;
			    border-bottom: (8px * $size) solid transparent;
			}
		}

		.pride-card > div {
			width: 83%;
			@include horizontal-center(1);
		}

		.coin2 > div {
			width: 44%;
			margin: 20px 0 0 20px;
		}

		.coin3 > div {
			width: 49%;
			margin-top: -20px;
		}

		.bird {
			width: 45%;
			float: left;
			margin: -70px 0 0 30px;
		}

		.calories {
			margin-top: 40px;

			a > div {
				width: 47%;
				margin-bottom: 10px;
			}
		}

		.carousel-outer {
			width: 174px;
			margin-top: 40px;
			margin-bottom: 60px;

			.copy p {
				font-size: 0.6em;
			}
		}
	}

	.influence.copy {
		margin-top: 30px;
		position: relative;
		display: block;
		color: black;
		width: 100%;
		padding: 26px 20px;
		text-align: center;

		@media(max-width: $iphone6) {
			padding: 18px 20px;
		}
	}
}

#app div.component.culture.mobile {
	.caption {
		opacity: 1;
	}

	.coin1 > div:hover img:last-child, .coin2 > div:hover img:last-child, .coin3 > div:hover img:last-child, .ec-logo img:hover {
		animation-play-state: paused;
	}
}

//animations
.coin1 img {
	animation: spin 1.2s linear infinite;
	animation-play-state: paused;
}
.coin1 > div:hover img:last-child {
	animation-play-state: running;
}
@keyframes spin {
	0% {transform: initial}
	100% {transform: rotate(360deg)}
}

.coin2 img {
	animation: tilt 1.2s ease-in infinite;
	animation-play-state: paused;
}
.coin2 > div:hover img:last-child {
	animation-play-state: running;
}
@keyframes tilt {
	0% {transform: initial}
	60% {transform: rotate(30deg)}
	100% {transform: initial}
}

.coin3 img {
	animation: pulse 1.2s linear infinite;
	animation-play-state: paused;
}
.coin3 > div:hover img:last-child {
	animation-play-state: running;
}
@keyframes pulse {
	0% {transform: initial}
	60% {transform: scale(1.08)}
	100% {transform: initial}
}
.ec-logo img {
	animation: spin 1.2s linear infinite;
	animation-play-state: paused;
}
.ec-logo img:hover {
	animation-play-state: running;
}