@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

$iconSize: 40px;
#app div.subcomponent.social {
	display: inline-block;
	margin-bottom: 20px;
	@include horizontal-center(1);

	.social-icon {
		width: $iconSize;
		height: $iconSize;
		position: relative;
		float: left;
		margin-right: 10px;
	}

	> a:last-child .social-icon {
		margin-right: 0;
	}

	.normal, .hover {
		position: absolute;
		width: 100%;
	}

	.normal {
		z-index: 1;
	}
}