.video {
	position:relative;
	height:0 !important;
	overflow:hidden;
	padding-bottom:45% !important;
}

.video iframe, .video object, .video embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}