@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.mobilemenu {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out;

	.links-wrapper {
		height: 100vh;
		width: 100vw;
	}

	.links-container {
		width: 100%;
		position: absolute;
		@include vertical-center();
	}

	.menulink {
		background-color: transparent;
		color: black;
		text-align: center;
		position: relative;

		.text {
			width: 130px;
			padding: 18px 0;
			border-bottom: 1px solid black;
			@include horizontal-center(true);
			font-size: 0.9em;
		}
	}

	.menulink:last-child {
		.text {
			border-bottom: initial;
		}
	}
}

#app div.component.mobilemenu.open {
	opacity: 0.95;
	visibility: initial;
}