@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.menu {
	position: fixed;
	width: 100%;
	max-width: initial;
	z-index: 8;
	top: 40px;

	.links-container {
		display: inline-block;
		width: 373px;
		@include horizontal-center(1);

		.menulink {
			float: left;
			width: 80px;
			height: 25px;
			margin-right: 17px;
		}

		.menulink:last-child {
			margin-right: 0;
		}

		.menulink .text {
			width: inherit;
			height: inherit;
			font-size: 0.6em;
			text-align: center;
			line-height: 25px;
		}

		.menulink a {
			width: inherit;
			height: inherit;
			display: block;
		}
	}


	@media(max-width: $iphone6) {
		.links-container {
			width: 255px;
		}

		.links-container .menulink {
			width: 56px;
			height: 20px;
			margin-right: 10px;

			.text {
				font-size: 0.6em;
				line-height: 20px;
			}
		}
	}
}