/* Screen sizes */
$tablet: 768px;
$phone: 375px;
$iphone5: 320px;
$iphone6: 414px;
/* End screen sizes */

/* element dimensions */
	/* Root */
	$contentMaxWidth: 1600px;
	// $contentMaxWidth: 1600px;
	$innerContentMaxWidth: 940px;
	// $innerContentMaxWidth: 940px;
	$headerBoxSize: 188px;
	/* End root */

	/* Work */
	$workBottomExtrusionSize: 25px;
	$workTopExtrusionSize: 36px;
	$workRightExtrusionSize: 5px;
	$workLeftExtrusionSize: 10px;
	$workTablePadding: 15px;
	$workCellPadding: 15px;
	/* End Work */
/* End element dimensions */

/* Colours */
	/* Anchor */
	$anchorLogoColour: #1e1;
	/* End Anchor */

	/* Slogan */
	$sloganBackgroundColour: #e4d8cc;
	$sloganTextColor: #fff;
	$sloganTextBackgroundColour: #ffb183;
	/* End Slogan */
/* End colours */