/* Screen sizes */
$tablet: 768px;
$phone: 375px;
/* End screen sizes */

/* element dimensions */
	/* Root */
	$contentMaxWidth: 978px;
	$innerContentMaxWidth: 586px;
	/* End root */
/* End element dimensions */

/* Colours */
	/* Anchor */
	$anchorLogoColour: #1e1;
	/* End Anchor */

	/* Slogan */
	$sloganBackgroundColour: #e4d8cc;
	$sloganTextColor: #fff;
	$sloganTextBackgroundColour: #ffb183;
	/* End Slogan */
/* End colours */