@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.slogan {
	background-color: $sloganBackgroundColour;
	height: 450px;
	margin-bottom: 100px;

	.brain-outer {
		position: relative;
		top: 150px;
		margin-left: -27px;

		.brain-container-left {
			padding-right: 19px;

			.brain {
				// animation: out-in-stop-from-left 5s infinite;
				transform: translateX(-140%);
				float: right;

				img:last-child {
					transform: scale(-1, 1);
				}


				.text {
					float: left;
					margin-right: -13px;
				}
			}
		}

		.brain-container-right {
			padding-left: 19px;

			.brain {
				transform: translateX(140%);
				// animation: out-in-stop-from-right 5s infinite;
				float: left;

				.text {
					float: right;
					margin-right: -19px;
				}
			}
		}

		.brain-container {
			width: 50%;
			float: left;
		}

		.brain {
			display: inline-block;
			width: 90px;
			font-size: 0.8em;

			img {
				width: 55px;
				position: absolute;
			}

			.img1 {
				z-index: 2;
			}

			.img2 {
				z-index: 1;
				width: 54px;
			}

			.text {
				@include font-rubik-medium();
				margin-top: 54%;
			}
		}
	}

	.text-container {
		color: $sloganTextColor;
		background: $sloganTextBackgroundColour;
		width: $innerContentMaxWidth;
		padding: 23px 60px;
		position: absolute;
		text-align: center;
		bottom: -24px;
		@include horizontal-center();
	}

	@media(max-width: $iphone6) {
		.text-container {
			width: 90%;
			padding: 18px 20px;
		}
	}
}

@keyframes out-in-stop-from-right {
	0% {transform: translateX(140%)}
	70% {transform: translateX(0)}
	97% {transform: translateX(0)}
	100% {transform: translateX(140%)}
}

@keyframes out-in-stop-from-left {
	0% {transform: translateX(-140%)}
	70% {transform: translateX(0)}
	97% {transform: translateX(0)}
	100% {transform: translateX(-140%)}
}