@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.slogan {
	background-color: $sloganBackgroundColour;
	height: 300px;
	margin-bottom: 70px;
	position: relative;

	.brain-outer {
		position: relative;
		top: 60px;
		margin-left: -65px;

		.brain-container-left {
			padding-right: 33px;

			.brain {
				// animation: out-in-stop-from-left 5s infinite;
				transform: translateX(-140%);
				float: right;

				img:last-child {
					transform: scale(-1, 1);
				}


				.text {
					float: left;
					margin-right: -16px;
				}
			}
		}

		.brain-container-right {
			padding-left: 33px;

			.brain {
				transform: translateX(140%);
				// animation: out-in-stop-from-right 5s infinite;
				float: left;

				.text {
					float: right;
					margin-right: -67px;
				}
			}
		}

		.brain-container {
			width: 50%;
			float: left;
		}

		.brain {
			display: inline-block;
			width: 90px;
			font-size: 0.8em;

			img {
				width: 88px;
				position: absolute;
			}

			.img1 {
				z-index: 2;
			}

			.img2 {
				z-index: 1;
				width: 86px;
			}

			.text {
				@include font-rubik-medium();
				margin-top: 94%;
			}
		}
	}
}

@media(max-width: $iphone6) {
	.brain-outer {
		margin-left: -45px !important;
		top: 76px !important;

		.brain .img1 {
			width: 68px !important;
	 	}
	 	.brain .img2 {
	 		width: 66px !important;
	 	}

	 	.text {
	 		margin-top: 74% !important;
	 	}
	}

	.brain-container-left {
		padding-right: 23px !important;
	}

	.brain-container-right {
		padding-left: 23px !important;
		.text {
			margin-right: -48px !important;
		}
	}
}

@keyframes out-in-stop-from-right {
	0% {transform: translateX(140%)}
	70% {transform: translateX(0)}
	97% {transform: translateX(0)}
	100% {transform: translateX(140%)}
}

@keyframes out-in-stop-from-left {
	0% {transform: translateX(-140%)}
	70% {transform: translateX(0)}
	97% {transform: translateX(0)}
	100% {transform: translateX(-140%)}
}