@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';
@import '../../../css/util.scss';

#app div.component.partners {
	color: white;
	width: $innerContentMaxWidth;
	white-space: pre-line;
	margin-top: 60px;
	
	.header-wrapper {
		width: 100%;
		display: inline-block;
		margin-bottom: 25px;
	}

	.header {
		$headerPadding: 25px;

		position: relative;
		width: calc(33.33333333333333% - 10px);
		height: 100px;
		background-color: white;
		border: 1px solid black;
		color: black;
		padding: $headerPadding;
		float: left;
		white-space: pre-wrap;

		.divider {
			width: 100%;
			height: 2px;
			margin-top: 6px;
			background-color: white;
		}

		@media(max-width: $innerContentMaxWidth) {
			margin-left: 14px;
		}

		@media(max-width: 625px) {
			width: calc(50% - 14px) !important;
		}
	}

	.partner {
		width: 33.33333333333%;
		float: left;
		min-height: 150px;
		display: inline-block;
		position: relative;

		img {
			position: absolute;
			width: 60%;
			@include center();
		}
	}

	.cadillac img {width: 45%;}
	.jenn-air img {width: 55%;}
	.royaltie img {width: 35%;}
	.drake-general-store img {width: 73%;}
	.maytag img {width: 47%;}
	.whirlpool img {width: 55%;}
	.toronto-silent-film-festival img {width: 36%;}
	.babsocks img {width: 33%;}
	.italian-by-night img {width: 37%;}
	.shangri-la-hotel img {width: 60%;}

	@media(max-width: $iphone6) {
		margin-top: 40px;
		font-size: 0.9em;

		div.header {
			width: 166px;
			height: 100px;
			padding: 15px;

			.arrow {
				bottom: 15px;
				left: 15px;
				width: 15px;
			}
		}

		.partner {
			width: 50%;
			min-height: 110px;
		}

		.partner:nth-child(2n) {
			padding-left: 40px;
		}

		.partner:nth-child(2n+1) {
			padding-right: 40px;
		}
	}

	@media(max-width: $tablet) {
		.header {
			height: 100px;
			width: 31.333333333%
		}

		.header-wrapper {
			padding-right: 14px;
		}
	}

	@media(max-width: $iphone5) {
		font-size: 0.8em;

		div.header {
			width: 138px;
			height: 100px;
		}

		.partner img {
			width: 62%;
		}

		.cadillac img {width: 47%;}
		.jenn-air img {width: 57%;}
		.royaltie img {width: 37%;}
		.drake-general-store img {width: 75%;}
		.maytag img {width: 49%;}
		.whirlpool img {width: 57%;}
		.toronto-silent-film-festival img {width: 38%;}
		.babsocks img {width: 35%;}
		.italian-by-night img {width: 39%;}
		.shangri-la-hotel img {width: 59%;}
	}
}