@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.anchor {
	height: 35px;

	$margin: 100px;
	margin-top:  $margin;
	margin-bottom: $margin;

	.anchor-container {
		position: absolute;
		@include horizontal-center();

		.logo {
			width: 115px;
			margin: 0 35px;
		}

		.arrow {
			width: 9px;
			margin-top: 4px;
		}

		.logo, .arrow {
			display: block;
			float: left;
		}
	}

	@media(max-width: $iphone6) {
		.anchor-container {
			width: 184px;
		}

		.anchor-container .logo {
			margin: 0 25px;
		}
	}

	@media(max-width: $iphone5) {
		& {
			margin-top: 70px;
			margin-bottom: 70px;
		}
	}

	.bounceUp {
		animation: bounceUp 2s ease-in infinite;
	}

	.bounceDown {
		animation: bounceDown 2s ease-in infinite;
	}
}

@keyframes bounceUp {
	0% {transform:initial;}
	10% {transform: translateY(-50%);}
	18% {transform:initial;}
	25% {transform: translateY(-50%);}
	35% {transform: initial;}
}

@keyframes bounceDown {
	0% {transform:rotate(180deg);}
	10% {transform: translateY(50%) rotate(180deg);}
	18% {transform:rotate(180deg);}
	25% {transform: translateY(50%) rotate(180deg);}
	35% {transform: rotate(180deg);}
}
