@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.chalkboard {
	margin-top: 180px;

	.background {
		width: 100%;
		z-index: 1;

		* {
			width: inherit;
		}
	}

	.gif {
		position: absolute;
		@include horizontal-center();
		top: -146px;
		width: 26%;

		.border {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		.gif-background {
			width: 91%;
			@include center(1);
		}
	}

	@media(max-width: $innerContentMaxWidth) {
		.background img {
			display: none;
		}

		.background {
			background: url(../../../assets/images/Chalkboard.jpg);
			background-repeat:no-repeat;
			background-position: center center;
			background-size: 260%;
			height: 346px;
		}
	}

	@media(max-width: $tablet) {
		.background {
			background-size: 160%;
			height: 226px;
		}

		.gif {
			top: -146px;
			width: 30%;
		}
	}

	@media(max-width: $iphone6) {
		margin-top: 60px;

		.background {
			margin-top: 100px;
		}

		.gif {
			top: -76px;
			width: 46%;
		}
	}
}