@import '../../../css/variables.scss';

#app div.component.wallpaper {
	max-width: initial !important;
	width: 100%;
	height: 233px;
	background: url(../../../assets/images/Wallpaper.jpg);
	background-repeat: repeat-x;
	// background-size: 985px 170px;
	background-position-x: -90px;

	@media only screen and (max-width: $phone) {
		background: url(../../../assets/images/Wallpaper-Mobile.jpg);
		background-repeat: repeat-x;
		background-size: 985px 170px;
		height: 140px;
	}

	@media (max-width : 450px) {
		background: url(../../../assets/images/Wallpaper-Mobile.jpg);
		background-repeat: repeat-x;
		background-size: 100%;
	}
}