@import '../../../css/variables.scss';

#app div.component.wallpaper {
	max-width: initial !important;
	height: 170px;
	background: url(../../../assets/images/Wallpaper.jpg);
	background-repeat: repeat-x;
	background-size: 985px 170px;
	background-position-x: -90px;

	@media only screen and (max-device-width : $tablet) {
		background: url(../../../assets/images/Wallpaper-Mobile.jpg);
		background-repeat: repeat-x;
		background-size: 985px 170px;
	}

	@media (max-width : 450px) {
		background: url(../../../assets/images/Wallpaper-Mobile.jpg);
		background-repeat: repeat-x;
		background-size: 100%;
	}
}