@import '../../../css/variables.scss';
@import '../../../css/mixins.scss';

#app div.component.work {
	margin-top: $workTopExtrusionSize;

	.workentry {
		background-color: white;
		width: 33.3333333333%;
		height: 170px;
		float: left;
		font-size: 0.9em;

		> div {
			width: 100%;
			height: 100%;
			padding: $workTablePadding/2;
		}

		> div > div {
			width: 100%;
			height: 100%;
			position: relative;
		}
	}

	.workentry .header, .workentry .content {
		width: 100%;
		height: 100%;
		padding: 25px;
	}

	.workentry .header {
		position: relative;
		color: black;
		border: 1px solid black;
		background-color: white;

		.divider {
			width: 100%;
			height: 2px;
			margin-top: 6px;
		}
	}

	.workentry .content {
		position: relative;
		cursor: pointer;
		z-index: 2;

		.icon {
			position: absolute;
			bottom: $workCellPadding;
			right: $workCellPadding;
			height: 25%;
			width: auto;
		}

		.hover-container {
			position: absolute;
			left: 0;
			top: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.4s;
			backface-visibility: hidden;
			z-index: 5;

			.hover {
				z-index: 5;
			}

			img {
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				backface-visibility: hidden;
			}
		}

		&:hover .hover-container {
			opacity: 1;
		}
	}

	.workentry .content .icon {
		&[src*="Car"], &[src*="Camera"] {
			width: 25%;
		}
	}

	//add odd extrusions
	.workentry:nth-child(2) > div > div:after {@include extrusion('top', $workTopExtrusionSize);}
	.workentry:nth-child(2) .hover-container {top: -$workTopExtrusionSize; overflow: initial;}

	.workentry:nth-child(7) > div > div:after {@include extrusion('right', $workRightExtrusionSize);}
	.workentry:nth-child(7) .hover-container {overflow: initial;}
	.workentry:nth-child(7) .hover-container .hover {width: initial; height: 100%;}

	.workentry:nth-child(9) > div > div:after {@include extrusion('left', $workLeftExtrusionSize);}
	.workentry:nth-child(9) .hover-container {overflow: initial;}
	.workentry:nth-child(9) .hover-container .hover {width: initial; height: 100%; right: 0; left: initial;}

	.workentry:nth-child(15) .hover-container .hover {margin-top:-5px !important;}

	// .workentry:nth-child(15) > div > div:after {@include extrusion('bottom', $workBottomExtrusionSize);}
	// .workentry:nth-child(15) .hover-container {margin-bottom: -$workBottomExtrusionSize; overflow: initial;}
	//end add odd extrusions

	//remove outer table padding
	.workentry:nth-child(4n+1) {
		> div {
			padding-left: 0;
		}
	}

	.workentry:nth-child(4n+3) {
		> div {
			padding-right: 0;
		}
	}

	.workentry:nth-child(1), .workentry:nth-child(2), .workentry:nth-child(3) {
		> div {
			padding-top: 0;
		}
	}
	//end remove outer table padding

	@media(max-width: ($innerContentMaxWidth + 14*2)) {
		.workentry:nth-child(4n+1) {
			> div {
				padding-left: 14px;
			}
		}

		.workentry:nth-child(4n+3) {
			> div {
				padding-right: 14px;
			}
		}

		.hover-container {
			display: none;
		}
	}

	@media(max-width: 625px) {
		padding: 0 7.5px;

		.workentry {
			width: 50%;
			> div {padding: 7.5px !important;}
		}

		//remove outer table padding
		// .workentry:nth-child(2n+1) {
		// 	> div {
		// 		padding-left: $workTablePadding/2 !important;
		// 	}
		// }
		// .workentry:nth-child(2n+1) {
		// 	> div {
		// 		padding-left: 0;
		// 	}
		// }
		// .workentry:nth-child(3n+1) {
		// 	> div {
		// 		padding-right: $workTablePadding/2;
		// 	}
		// }
		// .workentry:nth-child(2n+1) {
		// 	> div {
		// 		padding-right: 0;
		// 	}
		// }
		//end remove outer table padding

		//add odd extrusions
		.workentry:nth-child(7) > div > div:after {content: '';}
		.workentry:nth-child(7) .hover-container {width: initial;}
		.workentry:nth-child(8) > div > div:after {@include extrusion('right', 18px);}
		.workentry:nth-child(8) .hover-container {width: 110%;}

		.workentry:nth-child(9) > div > div:after {content: '';}
		.workentry:nth-child(10) > div > div:after {
			@include extrusion('left', 20px);
		}
		//end add odd extrusions
	}

	@media(max-width: $iphone6) {
		.workentry {
			height: 140px;

			.content, .header {
				padding: 15px;
			}

			.header .arrow {
				width: 15px;
			}
		}

		.workentry:nth-child(7) > div > div:after {content: initial;}

		.workexpanded {
			padding: 0 8px;
		}
	}
}